body {
    margin: 0;
    padding: 0;
    font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	overflow-y: scroll;
}

.logo {
	background-color: #fff;
	background-image: url("data:image/svg+xml;charset=UTF-8,%3c?xml version='1.0' encoding='UTF-8' standalone='no'?%3e%3csvg width='108' height='36' version='1.1' xmlns='http://www.w3.org/2000/svg'%3e%3cpath style='fill:%23666666' d='M 1.9998549,1.999855 H 33.999855 v 32.00029 H 1.9998549 Z' /%3e%3cpath style='fill:%23000000' d='M 0,0 V 2 36 H 36 V 0 Z m 40.482422,0 v 36 h 12.992187 c 2.177354,0 4.099682,-0.204004 5.769532,-0.613281 1.686222,-0.409277 3.118158,-1.007157 4.296875,-1.792969 1.195088,-0.802183 2.292379,-1.890455 3.291015,-3.265625 0.998638,-1.391542 1.81856,-3.14399 2.457031,-5.255859 0.638472,-2.111869 0.957032,-4.535562 0.957032,-7.269532 0,-3.208731 -0.474306,-6.056518 -1.423828,-8.5449215 C 67.889115,6.7530378 66.473263,4.6981153 64.574219,3.09375 63.117192,1.8495477 61.355724,0.99038625 59.292969,0.515625 57.819571,0.1718324 55.68422,0 52.884766,0 Z m 50.90625,0 c -4.904413,0 -8.906953,1.6372237 -12.007813,4.9121094 -3.10086,3.2590646 -4.652343,7.7762246 -4.652343,13.5507816 0,3.053396 0.6652,5.948565 1.99414,8.685547 1.32894,2.736982 3.282555,4.896445 5.861328,6.478515 C 85.162764,35.209024 88.090354,36 91.365234,36 c 3.021758,0 5.836846,-0.712855 8.447266,-2.136719 2.61042,-1.439684 4.62691,-3.551493 6.05078,-6.335937 C 107.28714,24.7429 108,21.58661 108,18.058594 108,14.578038 107.31956,11.469403 105.95898,8.7324219 104.61422,5.9796192 102.65299,3.8373425 100.07422,2.3027344 97.495437,0.76812618 94.600277,0 91.388672,0 Z m 0.02344,3.9628906 c 2.293998,0 4.35816,0.5851274 6.19336,1.7558594 1.851028,1.1549113 3.251918,2.7921356 4.201168,4.912109 0.96506,2.104154 1.44727,4.572392 1.44727,7.404297 0,4.47726 -1.1226,7.934706 -3.369141,10.371094 -2.230727,2.436389 -5.080191,3.654297 -8.544922,3.654297 -3.401447,0 -6.231781,-1.202675 -8.494141,-3.607422 -2.24654,-2.420568 -3.371094,-5.727436 -3.371094,-9.919922 0,-5.236653 1.172212,-8.9704526 3.513672,-11.2011718 2.357287,-2.2465399 5.164762,-3.3691406 8.423828,-3.3691406 z M 4,4 H 32 V 32 H 4 Z m 41.248047,0.2480469 h 7.5625 c 2.832197,0 4.887118,0.2451961 6.164062,0.7363281 1.768078,0.687586 3.26631,2.0461592 4.494141,4.0761719 1.244201,2.0136431 1.865234,4.9045741 1.865234,8.6699221 0,2.717599 -0.31856,5.033803 -0.957031,6.949219 -0.622101,1.899046 -1.497349,3.413365 -2.626953,4.542968 -0.802183,0.802184 -1.883388,1.423215 -3.242188,1.865235 -1.342428,0.442018 -3.200412,0.664062 -5.574218,0.664062 h -7.685547 z' /%3e%3cpath style='fill:%23ff6600' d='m 23.075374,23.017537 q 0,2.834114 -1.735172,4.366849 -1.720712,1.532735 -4.627125,1.532735 -0.694068,0 -1.85085,-0.130138 -1.156781,-0.115678 -1.937608,-0.289195 v -2.675057 h 0.159057 q 0.592851,0.202437 1.460437,0.419334 0.867585,0.216896 1.778551,0.216896 1.330298,0 2.111125,-0.303655 0.795288,-0.303655 1.171241,-0.867586 0.390414,-0.57839 0.491633,-1.417057 0.115678,-0.838666 0.115678,-1.937608 V 9.367518 H 15.657514 V 7.082875 h 7.41786 z' /%3e%3c/svg%3e");
	background-repeat: no-repeat;
	background-position: center;
	display: block;
	width: 128px;
	height: 56px;
	background-size: 108px 36px;
  float: left;
}

.logout {
  display: block;
  float: right;
  height: 56px;
  line-height: 56px;
}

.done {
    text-decoration: line-through;
}